{% extends "layouts/default.html" %}
{% block title %}Recept verwijderen{% endblock %}
{% block content %}
<div class="container">
  <h1>Recept <i>{{ recipe.title }}</i> verwijderen?</h1>
  <p>
    <form action="" method="post">
      <button type="submit" name="submit" value="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Ja, recept verwijderen</button>
      <a class="btn btn-link" href="javascript:window.history.back()">Nee, terugkeren naar recept</a>
    </form>
  </p>
</div>
{% endblock %}